
<div class="container">
        
    <div class="center">
        <div class="col-md-20">
      <img src="../src/app/img/TANAMERA.png" style="max-height:400px;" />
    </div>
      </div>
    </div>
    <br>
    <br>
    <br>
<app-header (featureSelected)="onNavigate($event)"></app-header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        <router-outlet></router-outlet>
        
        </div>
        
      </div>
    </div>
 
     
    
        <footer></footer>
        